@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,500&display=swap");
$clr-black: black;
* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c5c5c5;
}

section {
    margin-bottom: 4rem;

    h2 {
        font-size: 2rem;
        width: fit-content;
        padding-right: 1rem;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid whitesmoke;
        margin-bottom: 1.4rem;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
}
body {
    background-color: black;
    color: #fff;
    height: 100vh;

    button:hover {
        cursor: pointer;
    }
}

img {
    max-width: 100%;
}

.main-container {
    display: flex;
}

.sidebar {
    width: 7.5rem;
    background: #222;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 300;
    height: 100vh;
    position: sticky;
    top: 0;

    li {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    li:first-child {
        background: $clr-black;
        color: #fff;
    }
    li:first-child:hover {
        background: #fff;
        p,
        i {
            color: black;
        }
    }
    li:hover {
        cursor: pointer;
        background: black;
    }
    i {
        text-align: center;
        font-size: 2.25rem;
    }
}

.content {
    flex: 1;
    background-color: black;
    margin: 0 7rem 2rem;
}

.avatar {
    background: url("./Assets/avatar_smoke.jpg");
    width: 100%;
    height: 8.25rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4rem;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;

    .name {
        font-size: 4rem;
    }
}

p {
    font-weight: 100;
    line-height: 1.5;
    text-align: justify;
}

.btn {
    color: black;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.4em 0.8em;
    margin: 1.4rem 0;
}

.images_container {
    display: flex;
    gap: 0.7rem;
    div {
        flex: 1;
    }
    img {
        margin-bottom: 0.7rem;
        width: 100%;
    }
}

.contact {
    li {
        display: flex;
        align-items: center;
        i {
            font-size: 2rem;
        }
    }

    a {
        text-decoration: none;
        color: whitesmoke;
    }

    li + li {
        margin-top: 1rem;
    }
}

.price_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.price_card {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    width: 49.5%;
    align-items: center;
    justify-content: center;

    .package_name {
        background-color: #616161;
        color: #fff;
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 1rem;
    }

    .package_price {
        background: #fff;
        color: black;
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 1rem;
    }
}

footer {
    display: flex;
    color: #757575;
    .icon_container {
        display: flex;
        flex-wrap: wrap;
        font-size: 2rem;
        align-items: center;
        gap: 0.8rem;
    }
    .social_icons::after {
        content: "Connect With Me";
        color: #f29f05;
        display: block;
        font-size: 1rem;
        margin-top: 0.8rem;
    }

    i:hover {
        cursor: pointer;
        color: #fff;
    }

    p {
        color: #fff;
        margin-left: auto;
        margin-top: auto;
    }
}
